[submodule "ensemble/MS11/♫UncommonNoises"]
	path = Lehre/MS11/♫UncommonNoises
	url = https://github.com/AdrianArtacho/score_uncommonnoises.git
[submodule "ensemble/MS11/♫AllAboutThatBass"]
	path = Lehre/MS11/♫AllAboutThatBass
	url = https://github.com/AdrianArtacho/score_allaboutthatbass.git
[submodule "ensemble/MS11/♫Hymn"]
	path = Lehre/MS11/♫Hymn
	url = https://github.com/AdrianArtacho/score_hymn.git
[submodule "ensemble/MS11/♫ComeOutAndPlay"]
	path = Lehre/MS11/♫ComeOutAndPlay
	url = https://github.com/AdrianArtacho/score_ComeOutAndPlay.git
[submodule "ensemble/MS15/♫AlorsOnDanse"]
	path = Lehre/MS15/♫AlorsOnDanse
	url = https://github.com/AdrianArtacho/ms15_alorsondanse.git
[submodule "ensemble/JungeAkademie/🗃HoeleDesDrachens"]
	path = Lehre/JungeAkademie/☰HoeleDesDrachens
url=https://github.com/AdrianArtacho/HoehleDesDrachens.git
[submodule "brainchild/☰Timefolds"]
	path = brainchild/☰Timefolds
url=https://github.com/AdrianArtacho/Timefolds.git
[submodule "☰PaukenUndPalaeste"]
	path = PROJ/☰PaukenUndPalaeste
url=https://github.com/AdrianArtacho/paukenundpalaeste.git
[submodule "brainchild/☰brainchild"]
	path = brainchild/☰brainchild
url=https://github.com/AdrianArtacho/BRAINCHILD.git
[submodule "pieces/♫Ricercar"]
	path = Works/♫Ricercar
	url = https://AdrianArtacho@bitbucket.org/artachoscores/ricercar.git
[submodule "ensemble/☰RockFossils"]
	path = Lehre/☰RockFossils
url=https://github.com/AdrianArtacho/RockFossils.git
[submodule "☰JOST"]
	path = PROJ/☰JOST
url=https://github.com/AdrianArtacho/JOST.git
[submodule "☰PierrotMartien"]
	path = PROJ/☰PierrotMartien
url=https://github.com/AdrianArtacho/pierrot-martien
[submodule "☰Venedig"]
	path = PROJ/☰Venedig
url=https://github.com/AdrianArtacho/venedig-unter
[submodule "pieces/♫LuzAzul"]
	path = Works/♫LuzAzul
	url = https://github.com/AdrianArtacho/luzazul.git
[submodule "☰Batik"]
	path = PROJ/☰Batik
	url = https://github.com/AdrianArtacho/Batik.git
[submodule "pieces/♫Piccolo"]
	path = Works/♫Piccolo
	url = https://github.com/AdrianArtacho/piccolo.git
[submodule "tools"]
	path = tools
	url = https://github.com/AdrianArtacho/git_tools.git
[submodule "pieces/♫Immersio"]
	path = Works/♫Immersio
	url = https://github.com/AdrianArtacho/immersio.git
[submodule "ensemble/☰ESC"]
	path = Lehre/☰ESC
	url = https://github.com/AdrianArtacho/ESC.git
[submodule "☰Ludwig"]
	path = PROJ/☰Ludwig
	url = https://github.com/AdrianArtacho/LudwigsSketchbooks.git
[submodule "PROJ/☰SONGS"]
	path = PROJ/☰SONGS
	url = https://github.com/AdrianArtacho/SONGBOOK.git
[submodule "Works/♫Frauenhuber"]
	path = Works/♫Frauenhuber
	url = https://github.com/AdrianArtacho/Frauenhuber.git
[submodule "PROJ/☰PuntosDeFuga"]
	path = PROJ/☰PuntosDeFuga
	url = https://github.com/AdrianArtacho/PuntosDeFuga.git
[submodule "Works/♫Parallax"]
	path = Works/♫Parallax
	url = https://github.com/AdrianArtacho/Parallax.git
